	

h1 {
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	font-size: 78px;
	color: orange;
    margin-bottom: 0px;
}
body {
	font-family:arial;
}
#description {
	width: 500px;
}
#filtersHeaders {
	font-size: 20px;
}
select {
	width: 140px;
}
input[type=text] {
    width: 300px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 13px 12px 13px;
}
input[type=text]:focus {
    width: 60%;
}
